.pokemon-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 25px;
    padding-right: 25px;
    gap: 20px;
}

.single-pokemon {
    background-color: red;
    padding: 10px;
    font-weight: bold;
    transition: transform 0.3s ease;
}

.single-pokemon:hover {
    transform: scale(1.05);
}

.type-grass {
    background-color: green;
}

.type-fire {
    background-color: orange;
}

.type-water {
    background-color: blue;
}

.image {
    display:flex;
    padding-left: 42%;
    height: 100px;
}