.search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:50px;
    padding-bottom:30px;
    
}

.search-bar {
    padding: 10px;           
    border: 1px solid #ccc; 
    border-radius: 5px;
}

.search-button {
    padding: 10px;           
    border: 1px solid #ccc; 
    border-radius: 5px;
}